body {
	background-color: #cebdff;
	margin: auto 20% auto 20%;
	text-align: center;
	line-height: 1.4;
	font-family: sans-serif;
	color: #450988;
}

h1 {
	margin-bottom: 0;
}

p {
	margin-top: 10px;
}

#survey-form {
	text-align: left;
	padding: 2.5rem;
	background-color: #7c4dff;
	color: white;
	border-radius: 10px;
}

@media (max-width: 750px) {
	body {
		margin: auto 5% auto 5%;
	}
	
	#survey-form {
		padding: 2rem;
	}
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
	height: 30px;
	width: 98%;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 0 0 0 0.75rem;
	border: 1px;
}

#dropdown-info,
#radio-select,
#check-select {
	margin: 5px 0 5px 0;
}

select {
	height: 30px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

input[type="radio"],
input[type="checkbox"] {
	height: 20px;
	width: 20px;
	margin: 8px 20px 5px;
	vertical-align: -4px;
}

textarea {
	width: 90%;
	margin: 20px 5% 0 5%;
	border-radius: 10px;
	font-size: 16px;
}

input[type="submit"] {
	display: block;
	margin: 10px auto;
	height: 30px;
	width: 60%;
	border-radius: 10px;
	border: 1px;
	background-color: #176b12;
	color: white;
}