* {
    font-family: sans-serif;
  }
  
  body {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
  }
  
  #drum-machine {
    display: flex;
    width: 600px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
  }
  
  #button-grid {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    flex: auto;
  }
  
  #display {
    width: 280px;
    background-color: lightgray;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }