body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    
    background-color: lightblue;
    font-family: sans-serif;
  }
  
  #title {
    margin: 0;
  }
  
  #description {
    margin: 0 0 10px 0;
  }
  
  svg {
    background-color: cornsilk;
  }
  
  #canvas {
    min-width: 1200px;
    min-height: 600px;
    
    border-radius: 10px;
  }
  
  #legend {
    min-height: 160px;  
    align-self: start;
    padding: 10px;
    margin-left: 10vw;
    
    border-radius: 10px;
  }
  
  #tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
  }